body {
    display: flex;
}
.left_side {
    background-color: lightblue;
    min-width: 30vw;
    height: 100vw;
}

.right_side {
    background-color: lightsalmon;
    min-width: 70vw;
    height: 100vw;
}