body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.left_side {
    /* display setting */
    display: flex;
    justify-content: center;
    align-items: center;
    /* color and size */
    width: 30vw;
    height: 100vh;
    background-color: lightblue;
    color: white;
}

.right_side {
    /* display setting */
    display: flex;
    align-items: center;
    /* color and size */
    background-color: white;
    width: 70vw;
    height: 100vh;
}

form {
    /* display setting */
    display: flex;
    flex-direction: column;
    /* color and size */
    margin-left: 2rem;
}

form > fieldset {
    display: flex;
    margin-top: 2rem;
}

form > fieldset > * {
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
}


input {
    width: 20rem;
    height: 2rem;
    border: 1px solid #d1d7e4;
    border-radius: 0.3rem;
}


fieldset {
    border: none;
}

input:required:invalid:not(:placeholder-shown) {
    border: 1px solid red;
}
